/* RESET */
body {
    margin: 0;
    padding-top: 70px;   /* space for navbar */
    min-height: 100vh;

    display: flex;
    justify-content: center;   /* horizontal center */
    align-items: flex-start;   /* push content down */

    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #667eea, #764ba2);
}

/* NAVBAR (TOP FIXED) */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 20px;
    gap: 10px;

    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);

    z-index: 1000;
}

.nav-logo {
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.navbar h2 {
    color: white;
    font-size: 18px;
    margin: 0;
}

/* MAIN CARD */
.container {
    margin-top: 40px;
}

.glass-card {
    width: 350px;
    padding: 25px;
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);

    text-align: center;
}

/* LOGO INSIDE CARD */
.logo {
    width: 100px;
    margin-bottom: 15px;
    border-radius: 15px;
}

/* TITLE */
h1 {
    color: white;
    font-size: 22px;
}

/* INPUT BOX */
input[type="file"] {
    margin: 15px 0;
}

/* BUTTON */
button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    background: #ff7e5f;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

/* TEXTAREA */
textarea {
    width: 100%;
    height: 150px;
    margin-top: 15px;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.upload-box {
    border: 2px dashed rgba(255,255,255,0.6);
    padding: 20px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin: 15px 0;
    display: block;
}