<!DOCTYPE html>
<html>
<head>
    
    <title>Premium OCR App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   
</head>
<body>
    <div class="navbar">
    <img src="{{ url_for('static', filename='logo.png') }}" class="nav-logo">
    <h2>VABHI OCR</h2>
</div>

<div class="container">
    <div class="glass-card">
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        <h1>✨ Image To Text Convertor ✨</h1>

        <form action="/" method="POST" enctype="multipart/form-data" onsubmit="showLoader()">
            
            <label class="upload-box" id="dropArea">
                <input type="file" name="image" id="fileInput" required>
                <span id="uploadText">📁 Drag & Drop Image or PDF</span>
            </label>

            <img id="preview" />

            <button type="submit">🚀 Extract Text</button>
        </form>

        <!-- LOADER -->
        <div id="loader">
            <div class="spinner"></div>
            <p>Processing image...</p>
        </div>

        {% if extracted_text %}
        <div class="result">
            <h2>📄 Result</h2>

            <textarea readonly>{{ extracted_text }}</textarea>

            <form action="/download" method="POST">
                <input type="hidden" name="text" value="{{ extracted_text }}">
                <button type="submit">⬇ Download Text</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<script>
    const dropArea = document.getElementById("dropArea");
    const fileInput = document.getElementById("fileInput");
    const preview = document.getElementById("preview");
    const uploadText = document.getElementById("uploadText");

    // Drag over
    dropArea.addEventListener("dragover", (e) => {
        e.preventDefault();
        dropArea.style.background = "rgba(255,255,255,0.3)";
    });

    // Drag leave
    dropArea.addEventListener("dragleave", () => {
        dropArea.style.background = "transparent";
    });

    // Drop
    dropArea.addEventListener("drop", (e) => {
        e.preventDefault();
        fileInput.files = e.dataTransfer.files;
        handleFile(e.dataTransfer.files[0]);
    });

    // Click upload
    fileInput.addEventListener("change", function () {
        handleFile(this.files[0]);
    });

    function handleFile(file) {
        if (file) {
            preview.style.display = "block";
            preview.src = URL.createObjectURL(file);
            uploadText.innerText = file.name;
        }
    }

    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }
</script>

</body>
</html>